.formulario {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap; /*Quebrar a linha para baixo*/
    margin: 80px 50px;
}

.formulario form {
    background-color: #f2f2f2;
    flex: 1;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.8); /*Sombra*/
}

.formulario-container .formulario h2 {
    font-weight: 400;
    font-size: 32px;
}